/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root{
    --color-blue:blue
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    font-family: cursive;
    background: teal;
}
.site-form{
    width: 496px;
    margin: 200px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
}

.name-inputs-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.name-inputs-wrapper > label{
    width: 48%;
}
.name-inputs-wrapper > label > span{
    margin-bottom: 8px;
    display: inline-block;
    color: #444150;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}
.name-inputs-wrapper > label> input {
    width: 100%;
    padding: 10px 2px 14px 16px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    outline: none;
}
.name-inputs-wrapper > label> input:focus{
    border-color: #01BAB3;
    background-color:#8d9b9b;
}
.name-inputs-wrapper > label> input:focus::-webkit-input-placeholder{
    color: white;
}
.name-inputs-wrapper > label> input:focus::-moz-placeholder{
    color: white;
}
.name-inputs-wrapper > label> input:focus:-ms-input-placeholder{
    color: white;
}
.name-inputs-wrapper > label> input:focus::-ms-input-placeholder{
    color: white;
}
.name-inputs-wrapper > label> input:focus::placeholder{
    color: white;
}

.radio-wrap{
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 14px 2px 14px 16px;
    border-radius: 4px;
    border: 2px solid #444150;
    background: #FFF;
}

.gender-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.circle{
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #444150;
}
.gender-check:checked ~ .radio-wrap > .circle::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-right: -6px;
    margin-top: -9px;
    inset: 10px;
    background-color: #01BAB3;
}
.gender-check:checked ~ .radio-wrap {
    border: 2px solid #01BAB3;
}

.inner-check-circle{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.check-input:checked ~ .inner-check-circle{
   background-image: url("../images/icon-man.png");
   background-repeat: no-repeat;
   background-size:80%;
   background-position: center;
   border-color: black;
}


/* position  */

/* static */
/* relative */
/* absolute */
/* fixed */
/* sticky */

.wrapper{
    /* position: relative; */
    height: 200vh;
    /* width: 50%; */
    padding: 20px;
    background-color: var(--color-blue);
    /* overflow: hidden; */
}
.card1{
 
    /* left: 0;
    right: 0;
    top: 0; */
    /* top: 0;
    right: 0; */
    padding: 20px;
    background-color: red;
    /* z-index: 1; */
    /* width: 200px; */
}
.card2{
    /* position: relative;
    top: 10px;
    left: 10px; */
    position: sticky;
    top: 2px;
    padding: 20px;
    background-color: green;
    /* z-index: 1; */
}
.card3{
  
    padding: 20px;
    background-color: gold;
}


/* Drop Down menu  */
.list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.list-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 16px;
    color: white;
}
.list-item + .list-item{
    margin-left: 5px;
}
.list-link:active{
    background-color: #444150;
}
.list-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: -100%;
    bottom: 0;
    -webkit-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;

}
.list-link:hover::before{
    left: 0;
}
.list-item{
    position: relative;
}
.popap-wrap{
    width: 100%;
    height: 0;
    /* padding: 5px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: white;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    overflow-y: hidden;
    /* opacity: 0; */
}
.list-item:hover > .popap-wrap{
    height: 95px;
    padding: 5px;
    /* opacity: 1; */
}
.popap-link{
    padding: 5px;
    border-radius: 10px;
}
.popap-link:hover{
    background-color: teal;
    color: white;
}

.item{
    width: 320px;
    position: relative;
    padding: 170px 24px 24px;
    text-align: center;
    border-radius: 5px;
    /* background: #FFF; */
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.10);
}

.item::before{
    content:"";
    position: absolute;
    width: 202px;
    height: 130px;
    background-image: url("../images/icon2.svg");
    background-repeat: no-repeat;
    background-size:100%;
    top: 24px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.img-tel:hover > g>  path {
    fill: red;
}

.link{
    display: flex;
    align-items: center;
    color: white;
}
.link:hover{
    color: red;
}